@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700');

$headings: 'Roboto', sans-serif;
$text: 'Open Sans', sans-serif;
$text-color: #000;

body {
  font-family: $text;
}
h1, h2, h3, h4 {
  font-family: $headings;
}
h5, h6 {
  font-family: $text;
  font-weight: bold;
}
p, li, a {
  color: $text-color;
}
