/* ----- Helpers ----- */
.hang-right {
    @media (min-width: $xs) {
        float: right;
    }
}

.hang-right__text {
    @media (min-width: $xs) {
        text-align: right;
    }
}

.hidden-mob {
    @media (max-width: $mobile) {
        display: none;
    }
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}