/* ----- Variables ----- */

// Define variables for Bootstrap breakpoints
// example @media (min-width: $sm) and (max-width: $md)
$mobile: 401px;
$xs: 575px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 2000px;

$img_path: '../img';
$svg_path: '../img/svg';
